<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Bem-vindo á Home!</h1>
        <p>Escolha a ação:</p>

        <!-- Botão para ir à página de inserção da URL de imagem -->
        <a href="{% url 'image_url' %}">
            <button>Inserir URL da Imagem</button>
        </a>

        <!-- Botão para ir à página que exibe os dados da tabela CSV -->
        <a href="{% url 'exibir_tabela' %}">
            <button>Exibir Tabela de Dados</button>
        </a>
    </body>
</html>